@model Cumulative_1_assignment_3.Models.Teacher


@{
    ViewBag.Title = "Show";
}



<h2>@Model.TeacherFname @Model.TeacherLname</h2>

<div class="nav">
    <a id="back" class="navlink" href="/Teacher/List">Back To Teachers</a>
    <a id="update" class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    <a id="delete" class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>

</div>

<table id="showTable">
    <tr>
        <th>Teacher Id</th>
        <th>Teacher Fisrt Name</th>
        <th>Teacher Last Name</th>
        <th>Employee Number</th>
        <th>Hire Date</th>
        <th>Salary</th>
    </tr>
    <tr>
        <td>@Model.TeacherId</td>
        <td>@Model.TeacherFname</td>
        <td>@Model.TeacherLname</td>
        <td>@Model.EmployeeNumber</td>
        <td>@Model.HireDate</td>
        <td>@Model.TeacherSalary</td>
    </tr>

</table>

<style>
    h2 {
        font-family: 'Ubuntu', sans-serif;
        margin: auto;
        padding: 1em;
        text-align: center;
    }
    .nav {
        margin-bottom: 30px;
        display:flex;
        flex-flow:row;
        justify-content:space-between;
    }
    #showTable {
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        table-layout: auto;
        width: 100%;
    }
    #back {
        margin: 1em;
        padding: 0.2em;
        border: 1px solid;
        border-radius: 5px;
    }
    #delete {
        margin: 1em;
        padding: 0.2em;
        border: 1px solid;
        border-radius: 5px;
        color: red;
    }
    #update {
        padding: 0.2em;
        border: 1px solid;
        border-radius: 5px;
        color: green;
        align-self: center;
    }

</style>

