@model Cumulative_1_assignment_3.Models.Teacher


@{
    ViewBag.Title = "Show";
}



<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>@Model.EmployeeNumber</p>
<p>@Model.HireDate</p>
<p>@Model.TeacherSalary</p>


